<div class="new-vaccination-container">
  <h2>予防接種を追加</h2>

  <%= form_with(model: [@child, @vaccination], local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="vaccination-form-group">
      <%= f.label :vaccination_name, "予防接種の名前" %>
      <%= f.text_field :vaccination_name, class: 'form-control' %>
    </div>

    <div class="vaccination-form-group">
      <%= f.label :scheduled_date, "接種予定日" %>
      <%= f.datetime_select :scheduled_date, class: 'form-control' %>
    </div>

    <div class="vaccination-form-group">
      <%= f.label :administered_date, "接種実施日" %>
      <%= f.date_select :administered_date, class: 'form-control' %>
    </div>

    <div class="vaccination-form-group">
      <%= f.label :administered_by, "実施者（医師名）" %>
      <%= f.text_field :administered_by, class: 'form-control' %>
    </div>

    <div class="vaccination-form-group">
      <%= f.label :description, "詳細" %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="vaccination-form-actions">
      <%= f.submit "予防接種を追加", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to '戻る', child_vaccinations_path(@child), class: 'btn btn-secondary' %>
  </div>
</div>
