<div class="children-container">
  <h1>子供情報の編集</h1>

  <%= form_with(model: @child, local: true) do |f| %>

 <%= render 'shared/error_messages', model: f.object %>
  
    <div class="form-group">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :family_name %>
      <%= f.text_field :family_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :family_name_kana %>
      <%= f.text_field :family_name_kana, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :first_name_kana %>
      <%= f.text_field :first_name_kana, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :gender %>
      <%= f.select :gender, options_for_select([['設定なし', ''], ['男の子', 'male'], ['女の子', 'female']], @child.gender), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :birth_day %>
      <%= f.date_select :birth_day, start_year: Date.today.year - 20, end_year: Date.today.year + 1, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit '更新する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
