<div class="child-show-container">
  <h1><%= @child.nickname %>の詳細</h1>

  <div class="child-image">
    <% if @child.image.attached? %>
      <%= image_tag @child.image, class: 'child-image-img' %>
    <% else %>
      <div class="no-image">写真がありません</div>
    <% end %>
  </div>

  <div class="child-details">
    <p><strong>ニックネーム:</strong> <%= @child.nickname %></p>
    <p><strong>名字:</strong> <%= @child.family_name %></p>
    <p><strong>名前:</strong> <%= @child.first_name %></p>
    <p><strong>名字（カナ）:</strong> <%= @child.family_name_kana %></p>
    <p><strong>名前（カナ）:</strong> <%= @child.first_name_kana %></p>
    <p><strong>性別:</strong> <%= @child.gender == 'male' ? '男の子' : @child.gender == 'female' ? '女の子' : '設定なし' %></p>
    <p><strong>生年月日:</strong> <%= @child.birth_day.strftime("%Y年%m月%d日")%></p>
  </div>
 
  <div class="record-buttons">
    <%= link_to '成長記録',  "#", class: 'btn btn-record' %>
    <%= link_to '出来事記録',  "#", class: 'btn btn-record' %>
    <%= link_to '健康管理記録', "#", class: 'btn btn-record' %>
    <%= link_to '食事管理記録',  "#", class: 'btn btn-record' %>
  </div>

  <div class="actions">
   <%= link_to '編集', edit_child_path(@child), class: 'btn btn-primary btn-edit' %>
   <%= link_to '削除', child_path(@child), method: :delete, data: {turbo_method: :delete}, class: 'btn btn-danger btn-delete' %>
   <%= link_to 'トップページに戻る', root_path, class: 'btn btn-secondary' %>
  </div>
</div>
