
<div class="devise-container">
  <h2>新規登録</h2>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, placeholder:"PC・携帯どちらでも可", autocomplete: "email",autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, placeholder:"6文字以上の半角英数字で入力して下さい", autocomplete: "new-password",autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, placeholder:"再度パスワードを入力して下さい", autocomplete: "new-password",autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :nickname, "ニックネーム" %><br>
      <%= f.text_field :nickname, placeholder:"親子Life", autofocus: true %>
    </div>

    <div class="field-group">
      <div class="field short-field">
        <%= f.label :family_name, "名字" %><br>
        <%= f.text_field :family_name, placeholder:"山田", autofocus: true %>
      </div>

      <div class="field short-field">
        <%= f.label :first_name, "名前" %><br>
        <%= f.text_field :first_name, placeholder:"太郎", autofocus: true %>
      </div>
    </div>

    <div class="field-group">
      <div class="field short-field">
        <%= f.label :family_name_kana, "名字（カナ）" %><br>
        <%= f.text_field :family_name_kana, placeholder:"ヤマダ", autofocus: true %>
      </div>

      <div class="field short-field">
        <%= f.label :first_name_kana, "名前（カナ）" %><br>
        <%= f.text_field :first_name_kana, placeholder:"タロウ", autofocus: true %>
      </div>
    </div>

    <div class="field short-field">
      <%= f.label :gender, "性別" %><br>
      <%= f.select :gender, [['設定なし', ''], ['男性', 'male'], ['女性', 'female']], { include_blank: true } %>
    </div>

    <div class="field short-field">
      <%= f.label :birth_day, "生年月日" %><br>
      <%= f.date_select :birth_day, start_year: 1900, end_year: Time.now.year, prompt: { year: '年', month: '月', day: '日' } %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

    <div class="actions">
    <%= link_to 'トップページに戻る', root_path, class: 'btn btn-secondary' %>
  </div>
</div>









