  <header>
    <div class="header-container">
      <div class="logo">
        <%= link_to '親子Life', root_path, class: 'logo-link' %>
      </div>
      <nav>
        <ul class="nav-links">
          <% if user_signed_in? %>
           <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: 'user-nickname'  %></li>
           <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link logout cute-button'  %></li>
          <% else %>
           <li><%= link_to 'ログイン', new_user_session_path, class: 'nav-link login cute-button' %></li>
           <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-link signup cute-button' %></li>
          <% end %> 
        </ul>
      </nav>
    </div>
  </header>

