<div class="event-edit-container">
  <h2 class="event-title"><%= @child.nickname %>の出来事を編集</h2>

  <%= form_with(model: [@child, @event], local: true) do |f| %>
    <div class="event-form-group">
      <%= f.label :record_date, "日付" %>
      <%= f.date_select :record_date, order: [:year, :month, :day], class: "form-control" %>
    </div>

    <div class="event-form-group">
      <%= f.label :event_type_id, "出来事の種類" %>
      <%= f.collection_select :event_type_id, EventType.all, :id, :name, prompt: "選択してください", class: "form-control" %>
    </div>

    <div class="event-form-group">
      <%= f.label :description, "詳細" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="event-form-group">
      <%= f.label :image, "写真を追加" %>
      <%= f.file_field :image, multiple: true, class: "form-control" %>
    </div>

    <div class="event-form-actions">
      <%= f.submit "更新", class: 'btn btn-primary' %>
    </div>
  <% end %>
    

    <div class="actions">
      <%= link_to 'キャンセル', child_event_path(@child, @event), class: "btn btn-secondary" %>
    </div>
</div>
