<div class="events-container">
  <h2><%= @child.nickname %>の出来事一覧</h2>

  <%= link_to '新しい出来事を追加する', new_child_event_path(@child), class: 'btn btn-primary' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>出来事の種類</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% if @growths.present? %>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.record_date.strftime("%Y年%m月%d日") %></td>
            <td><%= event.event_type.name %></td>
            <td><%= event.description %></td>
            <td><%= link_to '詳細', child_event_path(@child, event) %></td>
          </tr>
        <% end %>
      <% else %> 
        <tr>
          <td colspan="6">出来事記録がありません。</td>
        </tr>
      <% end %>       
    </tbody>
  </table>

  <%= link_to '戻る', child_path(@child), class: 'btn btn-secondary' %>
</div>
