<div class="meal-detail-container">
  <h2 class="meal-title"><%= @child.nickname %> の食事記録の詳細</h2>

  <div class="meal-detail">
    <p><strong>食事の日付・時間:</strong> <%= @meal.meal_date.strftime("%Y年%m月%d日 %H:%M") %></p>
    <p><strong>食事の種類:</strong> <%= @meal.meal_type.present? ? @meal.meal_type.name : '不明' %></p>
    <p><strong>摂取量:</strong> <%= @meal.quantity %> g</p>
    <p><strong>詳細説明:</strong> <%= @meal.description %></p>
  </div>

  <div class="action-buttons">
    <%= link_to '編集', edit_child_meal_path(@child, @meal), class: 'btn btn-primary' %>
    <%= link_to '削除', child_meal_path(@child, @meal), method: :delete, data: {turbo_method: :delete}, class: 'btn btn-danger' %>
    <%= link_to '戻る', child_meals_path(@child), class: 'btn btn-secondary' %>
  </div>
</div>
